<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ntropy.account.mapper.TxnAnalysisMapper">

    <insert id="upsert" parameterType="com.ntropy.account.domain.entity.TxnAnalysis">
        INSERT INTO TXN_ANALYSIS (
            account_transaction_id,
            is_consumption,
            category,
            expense_type,
            classified_at
        ) VALUES (
                     #{accountTransactionId},
                     #{isConsumption},
                     #{category},
                     #{expenseType},
                     NOW()
                 )
            ON DUPLICATE KEY UPDATE
                                 is_consumption = VALUES(is_consumption),
                                 category = VALUES(category),
                                 expense_type = VALUES(expense_type),
                                 classified_at = NOW()
    </insert>

    <insert id="upsertAnalyses"
            parameterType="com.ntropy.account.api.dto.TransactionAnalysisSaveRequest">

        INSERT INTO TXN_ANALYSIS (
        account_transaction_id,
        is_consumption,
        category,
        expense_type,
        classified_at
        )
        VALUES
        <foreach collection="analyses" item="item" separator=",">
            (
            #{item.transactionId},
            #{item.isConsumption},
            #{item.category},
            #{item.expenseType},
            CURRENT_TIMESTAMP
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        is_consumption = VALUES(is_consumption),
        category = VALUES(category),
        expense_type = VALUES(expense_type),
        classified_at = CURRENT_TIMESTAMP
    </insert>

    <insert id="upsertDailyAnalyses">
        INSERT INTO TXN_ANALYSIS (
        account_transaction_id,
        is_consumption,
        category,
        expense_type,
        classified_at
        )
        VALUES
        <foreach collection="analyses" item="item" separator=",">
            (
            #{item.transactionId},
            #{item.isConsumption},
            #{item.category},
            #{item.expenseType},
            CURRENT_TIMESTAMP
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        is_consumption = VALUES(is_consumption),
        category = VALUES(category),
        expense_type = VALUES(expense_type),
        classified_at = CURRENT_TIMESTAMP
    </insert>




</mapper>