<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntropy.work.mapper.CategoryMapper">

    <resultMap id="categoryResultMap" type="com.ntropy.work.domain.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <insert id="insert" parameterType="com.ntropy.work.domain.entity.Category">
        INSERT INTO CATEGORY (category_id, name)
        VALUES (#{categoryId}, #{name})
    </insert>

    <select id="findById" parameterType="long" resultMap="categoryResultMap">
        SELECT category_id, name
        FROM CATEGORY
        WHERE category_id = #{categoryId}
    </select>

    <select id="findAll" resultMap="categoryResultMap">
        SELECT category_id, name
        FROM CATEGORY
    </select>

    <update id="update" parameterType="com.ntropy.work.domain.entity.Category">
        UPDATE CATEGORY
        SET name = #{name}
        WHERE category_id = #{categoryId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM CATEGORY
        WHERE category_id = #{categoryId}
    </delete>

</mapper>
